= form.association :project, label_method: :human
= form.association :rate, label_method: :human
= form.input :identifier
= form.input :active_from, as: :date_time_picker, side_by_side: true
= form.input :active_to, as: :date_time_picker, side_by_side: true
