- component_id = "component-#{SecureRandom.hex(32)}"
-# @items = Cmor::TimeTracking::Item.billable.all.to_a.map { |item| Cmor::TimeTracking::BillingRunService::Item.new(item: item) }
-# @service.items = @items
- @service.items = Cmor::TimeTracking::Item.billable.all.to_a
.card.mb-4
  .card-header
    = Cmor::TimeTracking::BillingRunService.human_attribute_name(:settings)
  .card-body.pb-0
    = form.input :bill_monthly, as: :boolean

%div{ id: component_id }
  - @service.items.group_by(&:project).each do |project, items|
    .card.mb-4
      .card-header
        = project.human
      .card-body
        %table.table.table-xs.table-hover.table-striped.table-max{ id: dom_id(project) }
          %thead
            %tr
              / on click select all
              %th
                %input{ type: :checkbox, data: { "select-all": true, "parent-id": dom_id(project) } }
              %th= Cmor::TimeTracking::Item.human_attribute_name(:issue)
              %th= Cmor::TimeTracking::Item.human_attribute_name(:owner)
              %th= Cmor::TimeTracking::Issue.human_attribute_name(:description)
              %th= Cmor::TimeTracking::Item.human_attribute_name(:year)
              %th= Cmor::TimeTracking::Item.human_attribute_name(:month)
              %th= Cmor::TimeTracking::Item.human_attribute_name(:duration_in_hours)
              %th= Cmor::TimeTracking::Item.human_attribute_name(:start_at)
              %th= Cmor::TimeTracking::Item.human_attribute_name(:end_at)
              %th= Cmor::TimeTracking::Item.human_attribute_name(:project_rate_id)
              %th= Cmor::TimeTracking::Item.human_attribute_name(:invoice_owner)
              %th
                %i.fas.fa-info-circle
          %tbody
            / sort items by issue first and then by start_at
            - items.sort_by { |item| [item.issue.human, item.start_at] }.each do |item|
              = form.simple_fields_for :"items[]", item do |item_form|
                %tr
                  %td
                    = item_form.input :selected, as: :boolean, label: false
                  %td= item_form.object.issue_identifier
                  %td= item_form.object.owner.human
                  %td.max
                    %span
                      = link_to(polymorphic_url([Cmor::TimeTracking::UpdateIssueFromExternalService], { update_issue_from_external_service: { issue_id: item_form.object.issue.id } }), class: "btn btn-xs btn-primary", method: :post) do
                        %i.fas.fa-cloud-download-alt{ title: t(".download") }
                    %span{ title: (item_form.object.issue.summary || "-") }
                      = (item_form.object.issue.summary || "-").truncate(48)
                  %td= item_form.object.year
                  %td= item_form.object.month
                  %td.text-right= item_form.object.duration_in_hours
                  %td= item_form.object.start_at
                  %td= item_form.object.end_at
                  %td= item_form.input :project_rate_id, as: :select, collection: project.current_rates, label_method: :human, input_html: { class: "form-control-xs", style: "width: fit-content;" }, label: false
                  %td
                    = item_form.input(:invoice_owner_gid,
                      as: :grouped_select,
                      collection: [project.owner.class.where(id: project.owner.id)] + instance_exec(&Cmor::TimeTracking::Configuration.project_owner_classes).keys,
                      group_method: :all,
                      group_label_method: ->(m) { m.model_name.human(count: :other) },
                      value_method: :to_global_id,
                      label_method: ->(r) { administrador_helper(self).label_for(r) },
                      input_html: { class: "form-control-xs", style: "width: fit-content;" },
                      label: false)
                  %td
                    - if item_form.object.description.present?
                      %i.fas.fa-info-circle{ title: (item_form.object.description || "-") }

:javascript
  $(document).ready(function() {
    console.log($("input[data-select-all]"))
    $("input[data-select-all]").on('click', function() {
      var parent_id = $(this).data('parent-id');
      var checked = $(this).prop('checked');
      var inputs = $("#" + parent_id + " input[type=checkbox]");
      inputs.prop('checked', checked);
    });
  });

:css
  ##{component_id} table td {
    vertical-align: middle;
  }

  ##{component_id} fieldset, ##{component_id} .form-group {
    margin: 0;
  }

  ##{component_id} .form-check-input {
    position: inherit;
  }
