- if result.failed?
  .alert.alert-danger
    = result.errors.full_messages.to_sentence
- else
  .card
    .card-header.d-flex.justify-content-between
      .start.d-flex.align-items-center
        .mr-1= fa_icon 'chart-bar'
        = result.service.class.model_name.human
      .end
        / Add button to toggle the visibility of the report
        = link_to '#', class: 'btn btn-sm', data: { toggle: 'collapse', target: '#project_report' } do
          = fa_icon 'chevron-down'
    / make card collapsible
    #project_report.collapse.show
      .card-body
        .row
          .col-12.col-md-4.mb-4
            / add chartjs chart
            %canvas.mx-auto{ id: 'project_report_chart' }
          .col-12.col-md-8
            = resource_table(resource: result) do |table|
              - if result.visibility.all?
                = table.row :issues_count
                = table.row :items_count
                = table.row :hours
                = table.row :draft_hours
                = table.row :confirmed_hours
                = table.row :not_billable_hours
              = table.row :billable_hours
              = table.row :billed_hours


%script{type: "module"}
  :plain
    document.addEventListener("DOMContentLoaded", function(event) {
      var ctx = document.getElementById('project_report_chart').getContext('2d');
      var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
          labels: #{ result.available_hours_attributes.map { |key| result.class.human_attribute_name(key) }.to_json },
          datasets: [{
            data: [
              #{ result.available_hours_attributes.map { |attr| result.send(attr) }.join(", ") }
            ]
          }]
        },
        options: {
          responsive: true,
          scales: {
          }
        }
      });
    });