.card.mb-4
  .card-header
    %i.fa.fa-table
    = @resource.issuetype.class.model_name.human
  .card-body
    = resource_table(resource: @resource.issuetype) do |t|
      = t.row :id
      = t.row :name
      = t.row :description
      = t.row :url
      = t.row :icon_url
      = t.row :subtask
      = t.row :avatar_id
      = t.row :hierarchy_level

.card.mb-4
  .card-header
    %i.fa.fa-table
    = @resource.status.class.model_name.human
  .card-body
    = resource_table(resource: @resource.status) do |t|
      = t.row :id
      = t.row :description
      = t.row :icon_url
      = t.row :name do |r|
        - capture_haml do
          %span.badge.badge-pill.badge-primary
            = r.name
      = t.row :status_category
      = t.row :url

.card.mb-4
  .card-header
    %i.fa.fa-table
    = @resource.fields.class.model_name.human
  .card-body
  = resource_table(resource: @resource.fields) do |t|
    = t.row :aggregateprogress
    = t.row :aggregatetimeestimate
    = t.row :aggregatetimeoriginalestimate
    = t.row :aggregatetimespent
    = t.row :assignee
    = t.row :components
    = t.row :created
    = t.row :creator
    = t.row :customfield_10000
    = t.row :customfield_10001
    = t.row :customfield_10002
    = t.row :customfield_10003
    = t.row :customfield_10004
    = t.row :customfield_10005
    = t.row :customfield_10006
    = t.row :customfield_10007
    = t.row :customfield_10008
    = t.row :customfield_10009
    = t.row :customfield_10010
    = t.row :customfield_10011
    = t.row :customfield_10012
    = t.row :customfield_10013
    = t.row :customfield_10014
    = t.row :customfield_10015
    = t.row :customfield_10016
    = t.row :customfield_10017
    = t.row :customfield_10018
    = t.row :customfield_10019
    = t.row :customfield_10020
    = t.row :customfield_10021
    = t.row :customfield_10022
    = t.row :customfield_10023
    = t.row :customfield_10024
    = t.row :customfield_10025
    = t.row :customfield_10028
    = t.row :customfield_10100
    = t.row :customfield_10101
    = t.row :customfield_10102
    = t.row :customfield_10103
    = t.row :customfield_10104
    = t.row :customfield_10105
    = t.row :customfield_10106
    = t.row :customfield_10107
    = t.row :customfield_10108
    = t.row :customfield_10109
    = t.row :customfield_10110
    = t.row :customfield_10111
    = t.row :customfield_10112
    = t.row :customfield_10113
    = t.row :customfield_10114
    = t.row :customfield_10115
    = t.row :customfield_10116
    = t.row :customfield_10117
    = t.row :customfield_10118
    = t.row :customfield_10120
    = t.row :customfield_10121
    = t.row :customfield_10122
    = t.row :customfield_10123
    = t.row :customfield_10124
    = t.row :customfield_10125
    = t.row :customfield_10126
    = t.row :customfield_10127
    = t.row :customfield_10128
    = t.row :customfield_10129
    = t.row :customfield_10130
    = t.row :customfield_10131
    = t.row :customfield_10132
    = t.row :customfield_10133
    = t.row :customfield_10134
    = t.row :customfield_10135
    = t.row :customfield_10136
    = t.row :customfield_10137
    = t.row :customfield_10138
    = t.row :customfield_10139
    = t.row :customfield_10141
    = t.row :customfield_10142
    = t.row :description
    = t.row :duedate
    = t.row :environment
    = t.row :fix_versions
    = t.row :issuelinks
    = t.row :issuetype
    = t.row :labels
    = t.row :last_viewed
    = t.row :parent
    = t.row :progress
    = t.row :project
    = t.row :reporter
    = t.row :resolution
    = t.row :resolutiondate
    = t.row :security
    = t.row :status
    = t.row :statuscategorychangedate
    = t.row :subtasks
    = t.row :summary
    = t.row :timeestimate
    = t.row :timeoriginalestimate
    = t.row :timespent
    = t.row :updated
    = t.row :versions
    = t.row :votes
    = t.row :watches
    = t.row :workratio
