= table.id sort: true
= table.column :identifier, sort: true
= table.column :name, sort: true
= table.column :issues_count
= table.column :items_count
= table.column :hours
= table.column :draft_hours
= table.column :confirmed_hours
= table.column :billable_hours
= table.column :billed_hours